<%- include("partials/head") %>
<%- include("partials/navbar") %>
    <main class="container">
        <!-- Because ejs sends {...data} we can use only values without a key  -->
        <!-- i.e. "name", "posts" instead of data.name data.posts-->
        <h1><%= name %></h1>
        <p>Subscribers: <%= subscribers %></p>
        <h2><%= description %></h2>
        <hr>
        <% for (let post of posts) { %>
            <div>
                <p><%= post.title %></p>
                <% if (post.img) { %>
                    <img class="img-fluid p-3 rounded" src="<%= post.img %>" alt="">
                    <% } %>
                    <h5 style="text-align: end;"><%= post.author %></h5>
            </div>
        <% } %>
    </main>
<%- include("partials/footer") %>
